$bodyBgColor: rgb(208, 214, 223);
$bodyTextColor: #333;
$calcBgColor: #22252e;
$calcKeysContainerBgColor: #2a2c38;
$calcKeyBgColor: #282b34;
$calcKeyPrimeColor: #fcffff;
$calcSymbolColor: #c1797a;
$calcKeyThirdColor: #37e0bf;
$calcTextColor: #fff;

$calcBorderRadius: 30px;
$calcKeyBorderRadius: 10px;